/* style.css */

/* Styles généraux */
.dropdown-menu-custom {
    min-width: 200px;
}

.nav-item .nav-link {
    display: flex;
    align-items: center;
    font-size: 1.1rem; /* Augmenter la taille de la police */
}

.nav-item .nav-link i {
    margin-right: 8px;
}

/* Désactiver l'effet de survol */
.nav-item .nav-link:hover {
    background-color: transparent; /* Fond transparent */
    transition: none; /* Aucune transition */
}

@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
        width: 100%;
    }
    .navbar-nav .dropdown-menu {
        position: static;
        float: none;
        text-align: center;
        pointer-events: none; /* Empêche l'ouverture inattendue du dropdown */
    }
    .navbar-nav .nav-item {
        width: 100%;
    }
    .navbar-nav .nav-link {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px; /* Ajoute de l'espace pour rendre les éléments plus cliquables */
        font-size: 1.3rem; /* Augmente la taille de la police */
    }
    /* Désactiver l'effet de survol */
    .navbar-nav .nav-link:hover {
        background-color: transparent; /* Fond transparent */
    }
    .navbar-nav .dropdown:hover .dropdown-menu {
        display: none;
    }
}
